.text-shadow--black {
    text-shadow: 1px 1px 5px black;
}

.scroll-parent {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

.scroll-element {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    gap: 10px;
}

.primary {
    animation: primary0 70s linear infinite;
}

@keyframes primary0 {
    0% {
        left: 0%
    }
    50% {
        left: -480%
    }
    100% {
        left: 0%
    }
}

@media screen and (min-width: 500px) {
    .primary {
            animation: primary500 60s linear infinite;
        }

        @keyframes primary500 {
            0% {
                left: 0%
            }
            50% {
                left: -400%
            }
            100% {
                left: 0%
            }
        }
}

@media screen and (min-width: 640px) {
    .primary {
            animation: primary640 60s linear infinite;
        }

        @keyframes primary640 {
            0% {
                left: 0%
            }
            50% {
                left: -310%
            }
            100% {
                left: 0%
            }
        }
}

@media screen and (min-width: 768px) {
    .primary {
            animation: primary768 40s linear infinite;
        }

    @keyframes primary768 {
            0% {
                left: 0%
            }
            50% {
                left: -225%
            }
            100% {
                left: 0%
            }
    }
}

@media screen and (min-width: 1024px) {
    .primary {
            animation: primary1024 60s linear infinite;
        }

        @keyframes primary1024 {
            0% {
                left: 0%
            }
            50% {
                left: -150%
            }
            100% {
                left: 0%
            }
        }
}

@media screen and (min-width: 1280px) {
    .primary {
        animation: primary1280 50s linear infinite;
    }

    @keyframes primary1280 {
        0% {
            left: 0%
        }
        50% {
            left: -100%
        }
        100% {
            left: 0%
        }
    }
}

@media screen and (min-width: 1440px) {
    .primary {
        animation: primary1280 40s linear infinite;
    }

    @keyframes primary1280 {
        0% {
            left: 0%
        }
        50% {
            left: -75%
        }
        100% {
            left: 0%
        }
    }
}
    